
.header {
    text-align: center; 
    font-size: 48px;

}

.master {

    align-items: center; 

}

.container {
    display: grid;
    grid-template-columns: repeat(6, 150px);
    grid-template-rows: 150px 150px 150px;
    grid-auto-rows: 150px;

    gap: 16px;
}

.card {
    background-color: peachpuff;
    border: 1px solid black;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column;
    gap: 24px;
}



.open-button {
   
  }
  
  /* The popup form - hidden by default */
  .form-popup {
    display: none;
    position: fixed;
    background-color: white;
    border: 1px solid black;

    
  }
  
  /* Add styles to the form container */
  .form-container {
      display: flex;
      flex-direction: column;
      align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 4px;
        padding: 12px;
   
  }

  
  /* Set a style for the submit/login button */
  .form-container .btn {

  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
  
  }